name: CI - Build & Test
on:
    push:
        branches: [main]
    pull_request:
        branches: [main]

jobs:
    analyze:
        name: Code Analysis
        runs-on: ubuntu-latest

        steps:
            - name: Checkout code
              uses: actions/checkout@v4

            - name: Setup Flutter
              uses: subosito/flutter-action@v2
              with:
                  flutter-version: "3.38.4"
                  channel: "stable"
                  cache: true

            - name: Get dependencies
              run: flutter pub get

            - name: Vefify formatting
              run: dart format --set-exit-if-changed.

            - name: Anlyze code
              run: flutter analyze

            - name: Check for unused files
              run: |
                  dart pub global activate dart_code_metrics
                  dart pub global run dart_code_metrics:metrics analyze lib
    test:
        name: Run Tests
        runs-on: ubuntu-latest
        needs: analyze

        steps:
            - name: Checkout code
              uses: actions/checkout@v4

            - name: Setup Flutter
              uses: subosito/flutter-action@v2
              with:
                  flutter-version: "3.38.4"
                  channel: "stable"
                  cache: true

            - name: Get dependencies
              run: flutter pub get

            - name: Run unit tests
              run: flutter test --coverage
